a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}html{box-sizing:border-box}*,::after,::before{box-sizing:inherit}img,video{width:100%;vertical-align:middle;}

/* FONT */
@font-face {
    font-family: americana regular;
    src: url(./font/Americana\ Font\ Regular/);
    font-weight: regular;
    /* font-weight: bold; */
}

:root{

    /* Couleur vert (principale) */
    --vertFonce: #172A23;
    --vertFonceMoin: #243b32;
    --vertMoyen: #3A5D4D;
    --vertScroll: #1e5a3f;
    --vertClair: #EBF2ED;
    
    /* Couleur vert (secondaire) */
    --vertFonceTransparent: #65736D;
    --vertNavTrait:#D4DFD7;
    --vertHover: #56846E;
    --vertScroll2: #576D5D;
}

/* Scroll */ 
html {
    scroll-behavior: smooth;
}


                    /* Scrollbar -voir ligne 1619*/ 
/* width */
::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}
    
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--vertScroll2); 
    box-shadow: 0 -100vh 0 100vh var(--vertScroll2);
}
    
    /* Handle on hover */
    /* ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
    } */














/* -------------- NAVIGATION (event.php) -------------- */
nav{
    /* padding: 30px 70px; */
    border-bottom: solid 1px var(--vertNavTrait);
    background: white;
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 70px;

}

.navigation{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color: var(--vertMoyen);
    
}

.navigation div{
    margin-left: 30px;
}

#recherche{
    width: 500px;
    height: 30px;
    border: solid 1px var(--vertFonce);
}

#recherche::placeholder{
    text-align: end;
    color: var(--vertFonce);
    opacity: 0.5;
    padding-right: 8px;
}

.trait1{
    width: 45px;
    height: 3px;
    background-color: var(--vertFonceMoin);
    margin-bottom: 8px;
}

.trait2{
    width: 45px;
    height: 3px;
    background-color: var(--vertFonceMoin);
    margin-top: 8px;
}




/* ------- MODAL MESSAGE (info_user.php, home.php, event.php) - DEBUT ------- */


/* --- MODAL CONTAINER --- */

#modalInfoPerso,
#modalInscription,
#modalEvent {
    position:fixed;
    z-index:12;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(255, 255, 255, 0.5);
    display:flex;
    justify-content:center;
    align-items:center;
}


#modalInfoPerso:not(:target),
#modalInscription:not(:target),
#modalEvent:not(:target) {
    opacity:0;
    visibility:hidden;
    transition:0.5s;
}

#modalInfoPerso:target,
#modalInscription:target,
#modalEvent:target {
    opacity:1;
    visibility:visible;
    transition:0.5s;
}



/* --- MODAL - CODE COMMUN --- */

.modal_content {
    position: relative;
    width: 600px;
    background: var(--vertFonceMoin);
    padding: 50px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* CROIX pour fermer le Popup */
.modal_close {
    display:block;
    position:absolute;
    top:20px;
    right:20px;
    font-size:20px;
}

.img_croix_popup{
    width: 18px;
    height: 18px;
}

/* Div Groupe texte (Titre, trait, texte courant) Popup */
/* Li */
.modalTexte a{
    color: var(--vertHover);
}

/* TITRE Popup */
.modalTitre {
    color: var(--vertClair);
    font-size: 21px;
    font-family: 'Karla', sans-serif;
    font-weight: 200;
}

/* SEPARATION Titre/Texte Popup */
.modalTrait{
    margin: 15px 0;
}


/* TEXT COURANT Popup */
.modal_content p {
    color: var(--vertClair);
    margin: 0;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    font-weight: 200;
    line-height: 24px;
    margin-top: 30px;
    font-style: italic;
}

/* BOUTON Popup - paramètre général */
.modal_btn {
    text-decoration: none;
    width: 400px;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 30px;
}

.btn_modal_1_trait {
    background-color: var(--vertFonceMoin);
    border: solid 1px var(--vertClair);
    color: var(--vertClair);
}

.btn_modal_2_fond {
    background-color: var(--vertClair);
    border: solid 1px var(--vertClair);
    color: var(--vertFonceMoin);
}

/* -------- MODAL MESSAGE (info_user.php, home.php, event.php)- FIN -------- */



/* -------------- MODAL BILLET (list_book.php) - DEBUT -------------- */

/* -- MODAL BILLET - structure générale (list_book.php) -- */

#modalBillet,
#modalPanier
 {
    position:fixed;
    z-index:10;
    top:80px;
    left:0;
    right:0;
    bottom:0;
    background: rgba(255, 255, 255, 0.5);
    display:flex;
    justify-content:end;
    align-items:center;
}

.modalContentBillet {
    position:relative;
    width:500px;
    background:var(--vertFonce);
    /* padding:50px; */
    height: 100%;
}

.modalBilletBg{
    background-image: url(./img/coco2.JPG);
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 40%;
    height: 100%;
    opacity: 0.2;
}


.modalTitreBillet {
    color:var(--vertClair);
}

.modalContentBillet p {
    color:var(--vertClair);
    margin:0;
}

/* CROIX */
.modalCloseBillet {
    display:block;
    position:absolute;
    top:20px;
    right:20px;
    font-size:20px;
}

.img_croix_popup2 {
    width: 20px;
    height: 20px;
}

#modalBillet:not(:target) {
    opacity:0;
    visibility:hidden;
    transition:0.5s;
}

#modalBillet:target {
    opacity:1;
    visibility:visible;
    transition:0.5s;
}

/* BOUTON */
.btn_billet_panier{
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 5%;
    width: 300px;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    text-align: center;
    padding: 10px 0;
}

#lb_btnBillet {
    background-color: var(--vertMoyen);
    color: var(--vertClair);
    /* margin-bottom: 30px; */
}

/* -------------- MODAL BILLET - modélisation (list_book.php) -------------- */


.billet{
    width: 256px;
    position: fixed;
    right: 6%;
}

/* -- MODAL BILLET (partie haute)-- */


.billet_partie_haute{
    width: 100%;
    height: 565px;
    background-color: #fff;
    border: 1px solid #fff;
    border-bottom: 2px dashed var(--vertNavTrait);
    border-radius: 11px;
}


/* IMAGE BILLET */
.imgEventBillet {
    width: 96%;
    height: 318px;
    margin: auto;
    margin-top: 4px;
}

/* DATE */
.divDate{
    background-color: #172A23;

}

/* TITRE & SOUS-TITRE */
.titreBillet{
    text-align: center;
    color: var(--vertMoyen);
    font-family: americana regular;
    font-size: 34px;
}

.categorieBillet {
    margin-top: 6px;
    text-align: center;
    text-transform: uppercase;
    color: var(--vertFonce);
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

/* PLACE RESERVEES */
/* .placeBillet{
    display: flex;
    justify-content: center;
    text-align: center;
} */

.placeBillet{
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-areas: 
    "txtPlaceBillet nbPlaceBillet";
    text-align: center;
    border: 1px solid var(--vertFonceTransparent);
    width: 86%;
    margin: 20px auto;
    padding: 10px 0;
}


.txtPlaceBillet{
    grid-area: txtPlaceBillet;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--vertFonce);
}

.nbPlaceBillet{
    grid-area: nbPlaceBillet;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: americana regular;
    font-size: 24px;
    color: var(--vertMoyen);
    border-left: 1px solid var(--vertFonceTransparent);
}


.bgEventBillet{
    background-image: url(./img/coco2.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    /* border: 1px solid #fff; */
    border-radius: 7px;
}

.txtBillet {
    color: var(--vertFonce);
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 11px;
    width: 86%;
    margin: auto;
    line-height: 15px;
}

/* -- MODAL BILLET (partie basse)-- */

.billet_partie_basse{
    width: 100%;
    height: 80px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 11px;
    padding-bottom: 86px;
}

.imgCodeBarre{
    padding: 12px;
}


/* -------------- MODAL BILLET (list_book.php) - FIN -------------- */


/* -------------- MODAL PANIER(panier.php) - DEBUT -------------- */


/* -------------- MODAL PANIER(panier.php) - FIN -------------- */

/* CONTENU */

.modalContentPanier {
    position:relative;
    width:580px;
    /* width:500px; */
    background:var(--vertClair);
    height: 100%;
    border-left: 1px solid var(--vertFonce);
    padding-top: 112px;
}

.modalPanierContainer{
    width:500px;
    margin: auto;
}

.modalPanierAjout{
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    font-size: 22px;
    font-style: italic;
}

.modalPanierContainerItems{
    margin-top: 28px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--vertFonce);
}

.modalPaniertxt{
    text-align: center;
    padding-top: 28px;
}

/* TEXTE */
.modalPaniertitre{
    font-size: 38px;
    color: var(--vertMoyen);
    font-family: americana regular;
    line-height: 41px;
}

.modalPanierCategorie{
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    margin-top: 10px;
    text-transform: uppercase;
}

.modalPanierQuantite{
    margin-top: 36px;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: var(--vertMoyen);
}


/* -- IMAGE EN BACKGROUND (panier.php) -- */
.modalPanierimg{
    background-image: url(./img/coco2.JPG);
    background-repeat: no-repeat;
    width: 168px;
    height: 214px;
    /* height: 232px; */
    background-position: center;
    position: relative;
    background-size: cover;
    
}


/* CROIX */
.modalClosePanier {
    display:block;
    position:absolute;
    top:20px;
    right:20px;
    font-size:20px;
}

.img_croix_popup2 {
    width: 20px;
    height: 20px;
}


#modalPanier:not(:target) {
    opacity:0;
    visibility:hidden;
    transition:0.5s;
}

#modalPanier:target {
    opacity:1;
    visibility:visible;
    transition:0.5s;
}


/* BOUTON */

.btn_billet_panier{
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 5%;
    width: 375px;
    /* width: 300px; */
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    text-align: center;
    padding: 10px 0;
}

#lb_btnPanier {
    background-color: var(--vertMoyen);
    color: var(--vertClair);
    
    /* margin-bottom: 30px; */
}




/* -------------- PAGE EVENT (event.php) -------------- */
/* --- GENERAL --- */
.site{
    display: grid;
    /* grid-template-columns: repeat(1fr 2fr); */
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 40% auto;
    grid-template-areas: 
    "gauche droite";
    padding-top: 80px;
    padding-bottom: 50px;
}



/* --- GAUCHE --- */
.gauche{
    grid-area: gauche;
    background-color: var(--vertFonce);
    position: fixed;
    width: 40%;
    height: 100%;
}

.gaucheImg{
    grid-area: gauche;
    background-image: url(./img/calamar.JPG);
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 40%;
    height: 100%;
    opacity: 0.4;
}


/* --- DROITE --- */
.droite {
    grid-area: droite;
    margin: auto;
    margin-top: 50px;
}

.containerDroit{
    width: 730px;
    /* width: 750px; */
}

/* Encadré - Etat de l'event */
.bgEtat{
    background-color: var(--vertClair);
    height: 75px;
    width: 592px;
    display: flex;
    margin: auto;
}

.borderEtat{
    text-align: center;
    border: solid 2px var(--vertFonceTransparent);
    height: 59px;
    width: 685px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Texte - Etat de l'event */

.etat{
    font-size: 16px;
    color: var(--vertFonceTransparent);
    font-family: americana regular;
}

.msgEtat{
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.etatContacter{
    font-size: 16px;
    color: var(--vertFonceTransparent);
    text-decoration: underline;
    font-family: americana regular;
}

/* image produit */
.imgEvent{
    background-color: var(--vertFonce);
    margin: auto;
    margin-bottom: 60px;
    width: 298px;
    height: 447px;
    /* width: 470px;
    height: 700px; */
}


/* Fiche produit */
.droite h1{
    font-family: americana regular;
    color: var(--vertMoyen);
    font-size: 60px;
    /* font-size: 72px; */
    text-align: center;
    margin-top: 60px;
    padding: 0 51px;
}

.droite h2{
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
    font-weight: 200;
    color: var(--vertFonce);
    font-size: 21px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 35px;
}

.droite h3{
    font-family: americana regular;
    color: var(--vertMoyen);
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.droite h4{
    font-size: 32px;
    margin-bottom: 10px;
    font-family: americana regular;
    color: var(--vertFonceMoin);
}

.droite h4+p{
    margin-bottom: 40px;
}


/* --- Fiche event - Texte --- */
.droite p{
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    font-weight: 200;
    line-height: 23px;
    /* font-style: italic; */
    color: var(--vertFonce);
}

/* .containerDroit .statePlace{
    font-weight: 300;

} */

.containerDroit .dateEvent{
    font-weight: 300;
}

.statePlace span{
    font-weight: 300;
}

.place_prix{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;
}

/* --- SELECT  - Nbr de place---  */
#place{
    width: 35px;
    height: 30px;
    border: solid 1px #172A23;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
  }

.prixSelect{
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    font-weight: 200; 
}

.prixSelect::after{
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    font-weight: 200;  
}


.prixSelect select{
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    font-weight: 200;
    text-align: center;

    /* Reset Select */
    appearance: none;

    /* Personalize */
    cursor: pointer;
    /* background-color: var(--vertClair); */
    border-color: var(--vertNavTrait);
}


.prix p{
    font-family: americana regular;
    font-size: 22px;
    color: var(--vertFonceMoin);
}

/* Bouton */
.reserve{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    width: 380px;
    height: 40px;
    color: var(--vertClair);
    background-color: var(--vertFonce);
    border: none;
    margin-bottom: 10px;
}

/* Zone catégorie */

.trioCategory{
    display: flex;
    justify-content: space-between;
}

.trioCategory article{
    width: 210px;
}

.imgCategory{
    width: 200px;
    height: 300px;
    background-color: var(--vertFonce);
}

.titreCategory{
    font-family: americana regular;
    font-size: 24px;
    color: var(--vertMoyen);
    margin-top: 10px;
}

.sousTitreCategory{
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    font-weight: 200;
    /* font-style: italic; */
    color: var(--vertFonce);
    margin-top: 5px;
}

/* ------------ PAGE LIST BOOK - DEBUT ------------ */


/* -- CONTAINER (list_book.php) -- */

.lb_container{
    max-width: 1095px;
    margin: auto;
    padding-top: 136px;
    padding-bottom: 50px;
}

/* -- BOUTON FILTRE (list_book.php) -- */
.filtreCategory {
    display: flex;
    margin-bottom: 8px;
}

.lb_selectFiltre{
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    font-weight: 200;
    color: var(--vertMoyen);
}

.lb_filtre{
    border: none;
    background-color: var(--vertFonce);
    color: var(--vertClair);
    padding: 5px 35px;
}

#lb_categoryFiltre{
    width: 198px;
    height: 30px;
    border: solid 1px #172A23;
    text-align: center;
    color: var(--vertMoyen);
}

/* -- LISTE DES RESERVATIONS (list_book.php) -- */
.lb_event{
    border-top: solid 1px var(--vertFonce);
    /* border-bottom: solid 1px var(--vertFonce);  */
    padding: 8px 0px;
    display: flex;
    justify-content: space-between;
}

/* -- IMAGE EN BACKGROUND (list_book.php) -- */
.lb_imageEvent{
    background-image: url(./img/coco2.JPG);
    background-repeat: no-repeat;
    width: 208px;
    height: 158px;
    background-position: center;
    position: relative;
    background-size: cover;
    
}

#lb_imageEvent_1{
    background-image: url(./img/calamar.JPG);
}


/* -- TEXTE - titre, catégorie,numéro, date (list_book.php) -- */

.lb_eventContainer{
    display: flex;
    margin-top: 30px;
    width: 315px;
}

.lb_numeroEvent{
    font-family: americana regular;
    font-size: 21px;
    color: var(--vertMoyen);
    padding: 5px;
}

.lb_titre{
    font-family: americana regular;
    font-size: 45px;
    color: var(--vertMoyen);
    margin-bottom: 10px;
}

.lb_categoryDate{
    display: flex;
    justify-content: space-between;
}

.lb_category,
.lb_date{
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    color: var(--vertMoyen);
    margin-bottom: 5px;
}

.lb_category{
    margin-bottom: 10px;
}


/* BOUTON CONSULTER ET TELECHARGEMENT BILLET (list_book.php) */
.lb_reservation{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
    
}

.lb_reservation a{
    text-decoration: none;

}

.lb_billet,
.lb_consulter{
    display: block;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    text-align: center;
    border: solid 1px var(--vertFonce);
    width: 265px;
    padding: 10px 0;
    margin-bottom: 10px;
    
}

.lb_billet{
    color: var(--vertFonce);
}


.lb_consulter{
    color: var(--vertClair);
    background-color: var(--vertFonce);
}

/* ------------ PAGE LIST BOOK - FIN ------------ */


/* ------------ PAGE BOOK - HISTORIQUE (book.php) - DEBUT ------------ */

.droiteHistorique{
    margin-top: 0px;
}

.containerDroit h2{
    margin-bottom: 75px;
}

.b_historique {
    font-family: americana regular;
    font-size: 26px;
    color: var(--vertNavTrait);
    margin-bottom: 32px;
}

.b_tableau{
    width: 100%;
}

.b_tableau tr td{
    height: 35px;
    padding-top: 16px;
}

.b_tableau th{
    text-align: start;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color: var(--vertMoyen);
    padding-bottom: 10px;
}

/* .b_tableau tr{
    text-align: start;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color: var(--vertMoyen);
} */

.b_tableau_titre{
    border-bottom: 1px solid var(--vertFonce);
    padding-bottom: 10px;
    text-align: start;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color: var(--vertMoyen);
}

.b_tableau_contenu{
    margin-top: 20px;  
}

.b_tableau_contenu td{
    font-family: americana regular;
    font-size: 16px;
    color: var(--vertFonce);
    /* margin-bottom: 20px; */   
}

.b_tableau_contenu td a{
    
    text-decoration: none;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    background-color: var(--vertFonce);
    color: var(--vertClair);
    padding: 4px 20px;
}

.b_annuler{
    text-align: end;
}

/* MENU ACCORDEON */

.contenuEvent{
    margin-top: 84px;
}

#ouvrir,
#fermer{
    color: var(--vertFonce);
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    padding-right: 10px;
}

#b_resume{
    margin-top: 10px;
}

#accordeon {
    margin:0px; 
    padding:0px;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
}
	
#accordeon dt{
    font-size:14px; 
    background-color:var(--vertFonce);
    color: var(--vertClair);
    padding:10px 15px; 
    margin-bottom:2px; 
    cursor:url('img/fleche_bas_blc_2.svg'), pointer;
    text-transform: uppercase;
}

	
#accordeon dt:nth-child(1)::after{
    content: url('img/fleche.svg');
    padding-left: 585px;
}

#accordeon dt:nth-child(3)::after{
    content: url('img/fleche.svg');
    padding-left: 575px;
}

#b_tarif::after{
content: url('img/fleche.svg');
padding-left: 624px;
}

#accordeon dt:hover, 
.current {
    background-color:var(--vertClair); 
    color: var(--vertFonce); 
    font-size:14px; 
    
}

.current {
    cursor:url('img/test.svg'), 
    pointer!important;
}

#accordeon dd {
    padding:10px 20px; 
    border-left:5px solid var(--vertFonce); 
    margin:10px 0 10px 0;
}

#accordeon dd p {
    font-size: 16px!important;
}

/* FACTURE */
.b_facture{
    display: flex;
    justify-content: end;
    margin-top: 45px;
    
}

.b_btn_facture{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    background-color: var(--vertClair);
    color: var(--vertFonce);
    padding: 10px 50px; 
}

.containerDroit .b_defaut{
    color: white;
}

/* ------------ PAGE BOOK - HISTORIQUE (book.php) - FIN ------------ */


/* ------------ PAGE INFO PERSO - DEBUT ------------ */



/* ------------ PAGE INFO PERSO - FIN ------------ */


/* ------------ PAGE EVENT - DEBUT ------------ */


/* ------------ PAGE INFO PERSO - FIN ------------ */


/* ----------------------- MEDIA QUERY - DEBUT ----------------------- */

@media screen and (max-width:1400px) {


    /* MODAL */

    .modalBilletBg {
        width: 65%;
    }

    .billet {
        right: 118px;
    }

    #lb_btnBillet {
        right: 100px;
    }

    /* EVENT */
    .containerDroit {
        width: 500px;
        padding: 0 30px;
    }

    .bgEtat {
        width: 460px;
    }

    .categoryTrois{
        display: none;
    }


    /* ------------ PAGE LIST BOOK (max-width:1400px) - DEBUT ------------ */

    /* -- CONTAINER (list_book.php) -- */
    .lb_container {
        max-width: 95%;
    }

    /* ------------ PAGE BOOK (max-width:1400px) - DEBUT ------------ */

    /* -- MENU ACCORDEON (book.php) -- */
    #accordeon dt {
        font-size: 14px;
        padding-top: 14px;
    }

    #accordeon dt:nth-child(1)::after {
        padding-left: 298px;
    }

    #accordeon dt:nth-child(3)::after {
        padding-left: 287px;
    }

    
    #b_tarif::after{
        content: url('img/fleche.svg');
        padding-left: 335px;

    }
    /* ------------ PAGE BOOK (max-width:1400px) - FIN ------------ */
    
}


@media screen and (max-width:900px) {

    /* MODAL */

    .modalBilletBg {
        width: 75%;
    }

    /* NAV */
    #recherche {
        width: 230px;
    }

    /* MAIN */
    .site{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "gauche"
        "droite";
    }

    /* GAUCHE */
    .gauche{
        width: 100%;
        height: 100%;
    }

    .gaucheImg {
        width: 100%;
    }


    /* DROITE */
    .droite{
        position: absolute;
        top: 78%;
        background-color: white;
    }

    .containerDroit {
        width: 100%;
        padding: 45px 30px;
    }

    /* SECTION CATEGORIE */
    .categoryTrois{
        display: block;
    }

    .trioCategory article {
        width: 200px;
    }

    /* ------------ PAGE LIST BOOK (max-width:900px) - DEBUT ------------ */

    .lb_event{
        border-top: solid 1px var(--vertFonce);
        border-bottom: solid 1px var(--vertFonce); 
        width: 100%;
        margin: auto;
        padding: 20px 30px;
        display: block;
    }

    /* -- FILTRE CATEGORIE (list_book.php) -- */
    .filtreCategory {
        margin-left: 30px;
        margin-bottom: 20px;
    }

    /* -- IMAGE EN BACKGROUND (list_book.php) -- */
    .lb_imageEvent{
        background-image: url(./img/coco2.JPG);
        background-repeat: no-repeat;
        width: 100%;
        height: 500px;
        background-position: center;
        position: relative;
        background-size: cover;
        
    }
    

    /* -- TEXTE - titre, catégorie,numéro, date (list_book.php) -- */

    .lb_eventContainer{
        display: flex;
        margin-top: 30px;
    }

    .lb_numeroEvent{
        font-family: americana regular;
        font-size: 21px;
        color: var(--vertMoyen);
        padding: 5px;
    }
    
    .lb_titre{
        font-family: americana regular;
        font-size: 45px;
        color: var(--vertMoyen);
        margin-bottom: 10px;
    }

    
    .lb_categoryDate{
        display: block;
    }
    
    .lb_category,
    .lb_date{
        font-size: 21px;
        font-family: 'Karla', sans-serif;
        font-weight: 300;
        color: var(--vertMoyen);
        margin-bottom: 5px;
    }

    .lb_category{
        margin-bottom: 10px;
    }
    

    /* BOUTON CONSULTER ET TELECHARGEMENT BILLET (list_book.php) */
    .lb_reservation{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    
    .lb_reservation a{
        text-decoration: none;

    }

    .lb_billet,
    .lb_consulter{
        display: block;
        font-size: 21px;
        font-family: 'Karla', sans-serif;
        font-weight: 300;
        text-align: center;
        border: solid 1px var(--vertFonce);
        width: 100%;
        padding: 10px 0;
        margin-bottom: 10px;
    }

    .lb_billet{
        color: var(--vertFonce);
    }

    .lb_consulter{
        color: var(--vertClair);
        background-color: var(--vertFonce);
    }

    /* ------------ PAGE LIST BOOK (max-width:900px) - FIN ------------ */


    /* ------------ PAGE BOOK (max-width:900px) - DEBUT ------------ */

    /* -- MENU ACCORDEON (book.php) -- */

    #b_containerDroit {
        width: 100%;
        padding: 45px 83px;
    }

    #accordeon dt {
        font-size: 14px;
        padding-top: 14px;
    }

    #accordeon dt:nth-child(1)::after {
        padding-left: 411px;
    }

    #accordeon dt:nth-child(3)::after {
        padding-left: 398px;
    }

    
    #b_tarif::after{
        content: url('img/fleche.svg');
        padding-left: 446px;

    }
   
    /* ------------ PAGE BOOK (max-width:900px) - FIN ------------ */
    
}


@media screen and (max-width:700px) {

    /* MODAL */
    .modalBilletBg {
        width: 100%;
    }


    /* NAV */
    #recherche {
        display: none;
    }

    nav {
        padding: 0 25px;
    }

    /* DROITE */

    .droite h1 {
        font-size: 40px;
    }

    .droite h3{
        display: none;
    }
    .droite{
        top: 70%;
    }

    .containerDroit {
        width: 100%;
        padding: 45px 30px;
    }

    .bgEtat {
        width: 335px;
    }

    .droite p {
        font-size: 14px;
        line-height: 20px;
    }

    /* bouton réservé */
    .reserve {
        width: 295px;
    }

    /* SECTION CATEGORIE */
    

    .trioCategory article {
        display: none;
    }

    /* ------------ PAGE LIST BOOK (max-width:700px) - DEBUT ------------ */


    /* -- FILTRE CATEGORIE (list_book.php) -- */
    

    /* -- IMAGE EN BACKGROUND (list_book.php) -- */
    .lb_imageEvent{
        background-image: url(./img/coco2.JPG);
        background-repeat: no-repeat;
        width: 100%;
        height: 350px;
    }
    /* ------------ PAGE LIST BOOK (max-width:700px) - FIN ------------ */


    /* ------------ PAGE BOOK (max-width:700px) - DEBUT ------------ */
    #b_containerDroit {
        padding: 45px 0px;
    }

    .b_historique,
    .b_tableau,
    .b_facture{
        max-width: 450px;
        margin: auto;
    }

    .b_historique{
        margin-bottom: 34px;
    }

    .contenuEvent {
        max-width: 450px;
        margin: auto;
        margin-top: 84px;
    }

    #accordeon dt:nth-child(1)::after {
        padding-left: 325px;
    }

    #accordeon dt:nth-child(3)::after {
        padding-left: 313px;
    }

    #b_tarif::after {
        padding-left: 360px;
    }

    .b_facture{
        margin-top: 50px;
    }

    /* ------------ PAGE BOOK (max-width:700px) - FIN ------------ */
    
}

@media screen and (max-width:500px){
    /* ------------ PAGE BOOK (max-width:500px) - DEBUT ------------ */

    .b_historique,
    .b_tableau,
    .b_facture{
        max-width: 350px;
        margin: auto;
    }

    .b_historique{
        margin-bottom: 34px;
    }

    .contenuEvent {
        max-width: 350px;
    }

    #accordeon dt:nth-child(1)::after {
        padding-left: 230px;
    }

    #accordeon dt:nth-child(3)::after {
        padding-left: 219px;
    }

    #b_tarif::after {
        padding-left: 265px;
    }
    
    .b_facture{
        margin-top: 50px;
    }

    /* ------------ PAGE BOOK (max-width:500px) - FIN ------------ */

}

@media screen and (max-width:415px){

    /* MODAL */
    .modalBilletBg {
        width: 100%;
    }
    
    /* ------------ MODAL (max-width:415px) - DEBUT ------------ */
    .ModalBtnGroup{
        margin-top: 30px;
    }
    
    .modal_btn {
        text-decoration: none;
        width: 100%;
        font-size: 16px;
        font-family: 'Karla', sans-serif;
        font-weight: 300;
        text-align: center;
        padding: 10px 20px;
        margin-bottom: 14px;
        display: block;
    }

    /* ------------ MODAL (max-width:415px) - FIN ------------ */


    /* ------------ PAGE EVENT (max-width:415px) - DEBUT ------------ */
    /* NAV */
    nav {
        height: 50px;
    }

    .navigation div {
        margin-left: 15px;
    }

    .site {
        padding-top: 50px;
    }

    .bgEtat {
        width: 300px;
    }

    /* DROIT */
    .containerDroit {
        width: 100%;
        padding: 45px 25px;
    }

    /* BOUTON DE RESERVATION */
    .reserve {
        width: 265px;
    }
    /* ------------ PAGE EVENT (max-width:415px) - FIN ------------ */


    
    /* ------------ PAGE LIST BOOK (max-width:415px) - DEBUT ------------ */


    /* -- CONTAINER (list_book.php) -- */
    .lb_container {
        max-width: 100%;
    }

    /* -- FILTRE CATEGORIE (list_book.php) -- */
    .filtreCategory{
        margin-bottom: 12px;
    }

    /* -- IMAGE EN BACKGROUND (list_book.php) -- */
    .lb_imageEvent{
        height: 278px; 
    }

    /* .lb_bgImageEvent{
        background-color: var(--vertFonce);
        width: 100%;
        height: 278px;
        position: absolute;
        top: 0;
        opacity: 0.5;
        
    } */

    /* -- IMAGE EN DUR (list_book.php) -- */
    /* .lb_imageEvent{
        background-color: var(--vertFonce);
        width: 100%;
        height: 278px;
        overflow: hidden;
        
    }
    .lb_imageEvent img{
        background-color: var(--vertFonce);
        max-width: 100%;
        height: auto;
        opacity: 0.5;
        
    } */


    /* ------------ PAGE LIST BOOK (max-width:415px) - FIN ------------ */
}